<section>
  <h2>Signup</h2>
  <form class="signup-form" action="/api/users" method="POST">
    <div>
      <label for="username-input-signup">Username:</label>
      <input type="text" id="username-input-signup" name="username" required>
    </div>
    <div>
      <label for="password-input-signup">Password:</label>
      <input type="password" id="password-input-signup" name="password" required>
    </div>
    <button type="submit">Signup</button>
  </form>
  <p>Already have an account? <a href="/login">Login here</a>.</p>
</section>
